<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1002292654532-1unopie4u5j3aj99lbv3k2addsdq6rnh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1002292654532-1unopie4u5j3aj99lbv3k2addsdq6rnh</string>
	<key>API_KEY</key>
	<string>AIzaSyAJgz9siwGHllxNmn7MNYZw7-Ji8NsEP3s</string>
	<key>GCM_SENDER_ID</key>
	<string>1002292654532</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.nikkialonzo.grabahand</string>
	<key>PROJECT_ID</key>
	<string>grabahand-92b0b</string>
	<key>STORAGE_BUCKET</key>
	<string>grabahand-92b0b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1002292654532:ios:adb7dacab70b6d2e</string>
	<key>DATABASE_URL</key>
	<string>https://grabahand-92b0b.firebaseio.com</string>
</dict>
</plist>